@import url('https://fonts.bunny.net/css?family=instrument-sans:400,500,600');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-body: #EDEBD7;
    --bg-hover: #E3DFAF;
    --text-main: #423E37;
    --text-muted: #555551;
    --text-header: #423E37;
    --text-button: #ffffff;
    --primary-color: #E3B23C;
    --primary-color-hover: #C39302;
    --secondary-color: #A23E48;
    --secondary-color-hover: #862d36;
    --success-color: #9bcc67;
    --success-color-hover: #709f3a;
    --danger-color: #e74c3c;
    --danger-color-hover: #c0392b;
    --border-color: rgba(25, 20, 0, 0.2);
    --border-hover: rgba(25, 21, 1, 0.3);
    --white: #ffffff;
    --bg-card: #ffffff;
}

.dark {
    --bg-body: #0E1116;
    --bg-hover: #13223a;
    --text-main: #8ca5ce;
    --text-muted: #7589aa;
    --text-header: #e2e0ea;
    --text-button: #1A1F29;
    --primary-color: #CB9CF2;
    --primary-color-hover: #9E7B9B;
    --secondary-color: #e2718b;
    --secondary-color-hover: #b33f5e;
    --success-color: #6eca90;
    --success-color-hover: #3a8f5c;
    --danger-color: #e64768;
    --danger-color-hover: #a62745;
    --border-color: rgba(200, 200, 200, 0.2);
    --border-hover: rgba(200, 200, 200, 0.3);
    --white: #ffffff;
    --bg-card: #1A1F29;
}

* {
    margin: 0;
    padding: 0;
}

hr {
    border: none;
    border-top: 1px solid var(--border-color);
    width: 100%;
    margin: 1rem 0;
}

.custom-header-container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-primary {
    background-color: var(--primary-color);
    color: var(--text-button);
    border: 1px solid var(--primary-color);
    padding: 8px 16px;
    margin: 10px 0;
    border-radius: 4px;
    color: var(--text-button);
}

.button-primary:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.button-secondary {
    background-color: var(--secondary-color);
    color: var(--text-button);
    border: 1px solid var(--secondary-color);
    padding: 8px 16px;
    border-radius: 4px;
    color: var(--text-button);
}

.button-secondary:hover {
    background-color: var(--secondary-color-hover);
    border-color: var(--secondary-color-hover);
}

.button-return {
    background-color: var(--primary-color);
    color: var(--text-button);
    border: 1px solid var(--primary-color);
    padding: 4px 8px;
    margin: 10px 0;
    border-radius: 4px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.button-return:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.button-success {
    background-color: var(--success-color);
    color: var(--text-button);
    border: 1px solid var(--success-color);
    padding: 8px 16px;
    border-radius: 4px;
    color: var(--text-button);
}

.button-success:hover {
    background-color: var(--success-color-hover);
    border-color: var(--success-color-hover);
}

.button-danger {
    background-color: var(--danger-color);
    color: var(--text-button);
    border: 1px solid var(--danger-color);
    padding: 8px 16px;
    border-radius: 4px;
    color: var(--text-button);
}

.button-danger:hover {
    background-color: var(--danger-color-hover);
    border-color: var(--danger-color-hover);
}